<%= form_for(@check) do |f| %>
  <% if @check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
      <% @check.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    

    <div class="padded row">

      <div class="field span1">
        <%= f.label :sum %>
        <%= f.text_field :sum, style: 'width: 40px'%>
      </div>

      <div class="field span2">
        <%= f.label :category, @category, style: 'display: inline' %> <%=link_to "(Add new)", new_category_path %>
        <% categories_array = Category.all.map { |x| [x.name, x.id] }%>
        <%= f.select :category_id, options_for_select(categories_array), {}, class: 'wide-input' %>
      </div>

    </div>

    <div class="my-date padded">
      <%= f.label :time %>
      <%= f.date_select :time, order: [:day, :month, :year] %>
    </div>

    <div class="padded">
      <%= f.label :description %>
      <%= f.text_field :description %>
      <br/>
      <%= f.submit 'Create check'%>
    </div>
    

<% end %>
