<%= form_for(@check) do |f| %>
  <% if @check.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check.errors.count, "error") %> prohibited this check from being saved:</h2>

      <ul>
      <% @check.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    

    <div class="adding-form row">

      <div class="field span3">
        <%= f.label :time %>
        <%= f.date_select :time %>
      </div>

      <div class="field span1">
        <%= f.label :sum %>
        <%= f.text_field :sum %>
      </div>

      <div class="field span2">
        <%= f.label :category %>
        <% categories_array = Category.all.map { |x| [x.name, x.id] }%>
        <%= f.select :category_id, options_for_select(categories_array), {}, class: 'wide-input' %>
      </div>

      <div class="field span3">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>
  
      <div class="actions span1 relative">
<!--         <%= f.label "Do it"%>
 -->        <%= f.submit 'Create check', class: 'to-bottom' %>
      </div>

    </div>
    

<% end %>
